.vs/*
*.exe
*.exe.config
*.pdb
*.py
CollectionTracker/obj/*
CollectionTracker/Properties/*
CollectionTracker/bin/Debug/*
CollectionTracker/bin/Release/resources/*
!CollectionTracker/bin/Release/resources/mtg
CollectionTracker/bin/Release/resources/mtg/*
!CollectionTracker/bin/Release/resources/mtg/catalog.bin
!CollectionTracker/bin/Release/resources/mtg/back.png
!CollectionTracker/bin/Release/resources/mtg/_icons
!CollectionTracker/bin/Release/resources/mtg/_setsymbols
!CollectionTracker/bin/Release/resources/ygo
CollectionTracker/bin/Release/resources/ygo/*
!CollectionTracker/bin/Release/resources/ygo/catalog.bin
!CollectionTracker/bin/Release/resources/ygo/data.txt